<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pricing Tiers</title>
    <link rel="stylesheet" href="../static/css/pricing_style.css">
</head>
<body>
<table>
    <caption>Pricing Tiers</caption>
    <thead>
    <tr>
        <th>Free Tier</th>
        <th>Basic Tier</th>
        <th>Premium Tier</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Free Account</td>
        <td>Free Account</td>
        <td>Free Account</td>
    </tr>
    <tr>
        <td>25 MB space </td>
        <td>500 MB of space </td>
        <td>Unlimited Space</td>
    </tr>
    <tr>
        <td style="border-color: bisque">$0/ month</td>
        <td style="border-color: bisque">$10/ month</td>
        <td style="border-color: bisque">$20/ month</td>
    </tr>
    </tbody>
</table>
</body>
</html>